---
---

<header class="flex flex-row justify-between items-center w-screen max-w-5xl h-14 px-4 border-b border-terciary">
    <a href="/" class="cursor-pointer">
        <img src="/LogoPersonal.png" alt="Lisandro Fernandez" width="40px" height="40px"/>
    </a>
    <a class="text-bold text-slate-400 hover:text-white cursor-pointer">About</a>
</header>